<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899345505340-8gm3kp9ir8s2cfmsm72p571kgbgk3jfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899345505340-8gm3kp9ir8s2cfmsm72p571kgbgk3jfn</string>
	<key>API_KEY</key>
	<string>AIzaSyANsx5hPKJQw6sPjkDQSv3PkumQs4dOru4</string>
	<key>GCM_SENDER_ID</key>
	<string>899345505340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>user.----------------------Firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-20e98</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-20e98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899345505340:ios:9e7576829bc6ecb6f13739</string>
	<key>DATABASE_URL</key>
	<string>https://fir-20e98.firebaseio.com</string>
</dict>
</plist>